h1 {
    color: green;
}
.container {
    padding: 15px;
    width: 400px;
}
 
label,
input {
    margin-bottom: 10px;
}
 
button {
    float: right;
    margin-right: 10px;
    background-color: green;
}
